/*General Styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #374151;
}
a:hover {
  color: #9ca3af;
}
footer a:hover {
  color: #9ca3af;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
}
:root {
  /*Font-Family*/
  --ff-Inter: "Inter", sans-serif;

  /*Text Color*/
  --tc-color-1: #111827;
  --tc-color-2: #374151;

  /*Btn Color*/
  --bc-primary: #5e3bee;
  --bc-secondary: #ffffff;
}
/*Scroll-Bar*/
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 17.5px;
}

body::-webkit-scrollbar {
  width: 17.5px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 17.5px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#7255e7),
    to(#5e3bee),
    color-stop(0.6, #3a10e1)
  );
}
/*HEADER*/
/*Nav-bar*/
.nav-bar {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  padding-right: 112px;
  padding-left: 112px;
}
.nav-bar__title {
  font-family: var(--ff-Inter);
  font-weight: 700;
  color: var(--tc-color-1);
  font-size: 18px;
  line-height: 28px;
}
.nav-bar__items {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-family: var(--ff-Inter);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--tc-color-2);
}
.nav-bar-hidden {
  gap: 1.5rem;
  display: flex;
}
.nav-bar__items a {
  display: flex;
  padding: 0px 16px;
}
.nav-bar__items__btn {
  width: 92px;
  height: 36px;
  display: flex;
  align-items: center;
  background: var(--bc-primary);
  color: var(--bc-secondary);
  font-size: 12px;
  border-radius: 100px;
  padding: 10px 16px;
}
.nav-bar__items__btn:hover{
  color: #fff;
  background-color: #380aef;
  transition: all 300ms ease-in-out;
}
.header-content__btn:hover{
  color: #fff;
  background-color: #380aef;
  transition: all 300ms ease-in-out;
}
.works-btn:hover{
  color: #fff;
  background-color: #04060b;
  transition: all 300ms ease-in-out;
}
.services-context__btn:hover{
  color: #fff;
  background-color: #380aef;
  transition: all 300ms ease-in-out;
}

/*Section-Header*/
.section-header {
  text-align: center;
  margin: 0 auto;
}
.header-container {
  height: 32px;
}
.header-arrow > img {
  width: 32px;
}
.header-container-line {
  max-width: 1216px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #9ca3af 0%,
    rgba(156, 163, 175, 0) 39.47%,
    rgba(156, 163, 175, 0) 50%,
    rgba(156, 163, 175, 0) 60.51%,
    #9ca3af 100%
  );
  transform: translateY(-22.5px);
  margin: 0 auto;
}
.header-content {
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 128px;
}
.header-content__subtitle {
  font-family: var(--ff-Inter);
  color: var(--tc-color-1);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.header-content__title {
  color: var(--tc-color-1);
  font-family: var(--ff-Inter);
  font-weight: 600;
  font-size: 72px;
  line-height: 90px;
  letter-spacing: -1.8px;
  text-align: center;
  margin-top: 16px;
}
.header-content__btn {
  width: 184px;
  height: 52px;
  background: var(--bc-primary);
  color: var(--bc-secondary);
  border-radius: 100px;
  padding: 16px 24px;
  font-family: var(--ff-Inter);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  margin-top: 40px;
}
.header-container {
  margin: 0 auto;
  margin-top: 192px;
}

/*Section-Works*/
.section-works {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 112px;
}
.works-container {
  display: flex;
  gap: 32px;
  position: relative;
}
.section-works h2 {
  color: var(--tc-color-1);
  font-family: var(--ff-Inter);
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1.2px;
  padding-left: 2vw;
  margin-bottom: 48px;
}
.works-container-card {
  width: 512px;
  height: 804px;
}
.works-container__col1 {
  max-height: 1688px;
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
  gap: 80px;
}
.works__title {
  color: var(--tc-color-1);
  margin-top: 24px;
  font-family: var(--ff-Inter);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.works__paragraph {
  font-family: var(--ff-Inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.works-container__col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  padding: 80px 2vw;
}
.works-btn-container {
  position: absolute;
  left: 0;
  bottom: 5%;
}
.works-btn {
  width: 195px;
  height: 52px;
  border-radius: 100px;
  background-color: var(--tc-color-1);
  font-family: var(--ff-Inter);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--bc-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 40px;
}

/*Section-Services*/
.section-services {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 112px;
}
.services-container {
  padding: 64px 0;
  display: flex;
  background-color: #f0fefa;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}
.services-context {
  padding: 0 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.services-context__title {
  color: var(--tc-color-1);
  font-family: var(--ff-Inter);
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 16px;
}
.services-context__paragraph {
  font-family: var(--ff-Inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 32px;
}
.services-context__btn {
  display: block;
  width: 184px;
  height: 52px;
  border-radius: 100px;
  background-color: var(--bc-primary);
  padding: 16px 24px;
  font-family: var(--ff-Inter);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--bc-secondary);
}
.services-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  flex: 2;
}
.services-cards__col2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.services-card {
  box-shadow: 24px 24px 40px -12px rgba(28, 44, 64, 0.08);
  background: var(--bc-secondary);
  width: 300px;
  padding: 32px;
}
.services-card img {
  width: 32px;
}
.services-card h3 {
  font-family: var(--ff-Inter);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.24px;
  color: var(--tc-color-1);
  margin-bottom: 16px;
  margin-top: 32px;
}
.services-card p {
  font-family: var(--ff-Inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #4b5563;
}

/*Section-Logos*/
.section-logos {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 112px;
}
.logos-title h5 {
  padding: 12px 24px;
  color: #6b7280;
  font-family: var(--ff-Inter);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
}
.logos-title__line {
  max-width: 1216px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #9ca3af 0%,
    rgba(156, 163, 175, 0) 39.47%,
    rgba(156, 163, 175, 0) 50%,
    rgba(156, 163, 175, 0) 60.51%,
    #9ca3af 100%
  );
  transform: translateY(-25px);
}
.logos-title__line-two {
  max-width: 1216px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #9ca3af 0%,
    rgba(156, 163, 175, 0) 39.47%,
    rgba(156, 163, 175, 0) 50%,
    rgba(156, 163, 175, 0) 60.51%,
    #9ca3af 100%
  );
  transform: translateY(25px);
}
.logos-logos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 32px;
  justify-content: center;
  margin: 24px 0;
}
.logos-logos img {
  width: 128px;
}

/*Section-About*/
.section-about {
  padding: 112px;
  max-width: 1440px;
  margin: 0 auto;
  flex-direction: column;
  gap: 32px;
}
.about-container {
  background-color: #f0fefa;
  display: flex;
  align-items: center;
  gap: 32px;
}
.about-content {
  display: flex;
  flex-direction: column;
}
.about-content > h2 {
  color: var(--tc-color-1);
  font-family: var(--ff-Inter);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.2px;
}
.about-content > p {
  color: #374151;
  font-family: var(--ff-Inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.about-img-metric {
  display: flex;
  gap: 32px;
}
.about-image {
  width: 384px;
  height: 512px;
}
.about-metrics {
  display: flex;
  width: 280px;
  padding-left: 32px;
  flex-direction: column;
  gap: 64px;
}
.about-metric {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-metric > h2 {
  color: var(--tc-color-1);
  font-family: var(--ff-Inter);
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1.2px;
}
.about-metric > h5 {
  color: #6b7280;
  font-family: var(--ff-Inter);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 2px;
}
.about-metric > div {
  height: 1px;
  background: #9ca3af;
}

/*Section-Footer*/
.footer {
  background: #000;
}
.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 112px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-content h3 {
  color: #ffffff;
  font-family: var(--ff-Inter);
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.5px;
}
.footer-content > a {
  color: #ffffff;
  font-family: var(--ff-Inter);
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -1.5px;
}
.footer-contact {
  max-width: 1216px;
  margin-top: 96px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.footer-mail {
  max-width: 592px;
  color: #e5e7eb;
  font-family: var(--ff-Inter);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.footer-contact-mail {
  flex: 1;
}
.footer-contact-social {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(122px, 1fr));
  gap: 48px;
}
.footer-contact-social > a {
  color: #e5e7eb;
  font-family: var(--ff-Inter);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

/*MEDIA QUERIES*/
@media (max-width: 1280px) {
  .about-container {
    flex-wrap: wrap;
  }
  .about-img-metric {
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .header-content__title {
    font-size: 72px;
    line-height: 90px;
    letter-spacing: -1.6px;
  }
  .services-container {
    display: initial;
  }
  .services-context-container {
    display: initial;
  }
  .services-cards__col1 {
    display: flex;
  }
  .about-metrics {
    padding: 0;
    width: 100%;
  }
  .footer-container {
    padding: 120px 40px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .nav-bar {
    padding: 0 40px;
  }
  .header-content__title {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -1.5px;
  }
  .section-works {
    padding: 80px 40px;
  }
  .works__title {
    font-size: 20px;
  }
  .works__paragraph {
    font-size: 14px;
  }
  .services-card {
    display: initial;
    width: 100%;
  }
  .footer-content > h3,
  .footer-content > a {
    font-size: 36px;
    line-height: 48px;
  }
  .footer-contact {
    margin-top: 64px;
  }
  .footer-contact > a {
    font-size: 20px;
    line-height: 28px;
  }
  .footer-contact-social > a {
    font-size: 16px;
    line-height: 28px;
  }
  .footer-social-row {
    flex-wrap: wrap;
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
  }
  .footer-contact-social {
    gap: 0;
  }
  .works-container__col1 {
    padding: 0;
  }
  .works-container__col2 {
    padding: 0;
  }
  .works-btn-container {
    transform: translate(-50px, 80px);
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .works-btn-container {
    position: static;
  }
  .works-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .nav-bar-hidden {
    display: none;
  }
  .services-context {
    padding: 1.25rem;
    width: 100%;
  }
  .about-image {
    width: 100%;
    height: 100%;
  }
  .works-btn-container {
    transform: translate(-40px, -10px);
  }
}
@media (max-width: 375px) {
  .header-content__title {
    font-size: 36px;
    line-height: 48px;
  }
  .header-content__subtitle {
    font-size: 18px;
    line-height: 28px;
  }
  .nav-bar {
    padding: 0 20px;
  }
  .section-works {
    padding: 80px 20px;
  }
  .section-works > h2 {
    font-size: 36px;
    line-height: 48px;
  }
  .works__title {
    font-size: 20px;
    line-height: 28px;
  }
  .works__paragraph {
    font-size: 14px;
    line-height: 20px;
  }
  .services-context__title {
    font-size: 36px;
    line-height: 48px;
  }
  .services-context__paragraph {
    font-size: 16px;
    line-height: 28px;
  }
  .services-card > h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .services-card > p {
    font-size: 16px;
    line-height: 28px;
  }
  .about-content > h2 {
    font-size: 36px;
    line-height: 48px;
  }
  .about-content > p {
    font-size: 16px;
    line-height: 28px;
  }
  .about-metric > h2 {
    font-size: 36px;
    line-height: 48px;
  }
  .about-metric > h5 {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-content > h3 {
    font-size: 36px;
    line-height: 48px;
  }
  .footer-content > a {
    font-size: 36px;
    line-height: 48px;
  }
  .footer-mail {
    font-size: 20px;
    line-height: 28px;
  }
  .footer-contact-social > a {
    font-size: 16px;
    line-height: 28px;
  }
}
